<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOURING TIME!{{else}}Devoured!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">GONE!</button>
</li>
